@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Lora, serif;
}

body {
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.Column {
  margin: 1rem;
  width: 15rem;
  height: 85vh;
  background-color: rgba(211, 211, 211, 0.847);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(140, 140, 140, 0.153);
}

.colTitle {
  margin: 1rem;
}

.Header {
  padding: 0.5rem;
  background-color: rgba(230, 229, 229, 0.752);
  width: 100vw;
  box-shadow: 2px 2px rgba(140, 140, 140, 0.153);
}

.Card,
.Button,
.addTaskBtn {
  background-color: rgba(255, 255, 255, 0.91);
  width: 90%;
  border-radius: 7px;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px rgba(140, 140, 140, 0.153);
}

.Card {
  flex-direction: column;
  align-items: flex-start;
}

.Card-text {
  font-size: 1.1rem;
}

.Card-date {
  font-size: 0.8rem;
}

.Button,
.addTaskBtn {
  border: none;
  font-family: Lora, serif;
  background-color: rgba(182, 179, 179, 0.726);
  font-size: 0.9rem;
}

.Button:hover {
  color: rgba(53, 53, 53, 0.855);
}

.icon {
  margin-right: 0.5rem;
}

.addTaskBtn {
  border-radius: 2rem;
  width: 10rem;
  padding: 0.6rem;
  border: none;
  display: flex;
  justify-content: center;
}

.taskInput {
  width: 100%;
  padding: 0.4rem;
  border: none;
  margin: 0.5rem;
}

.taskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.taskInput:focus {
  outline: none;
}
